*  {
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: inherit;
}

/* -------------------------------------------------------------------------NAVIGATION------------------------------------------------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFCE32;
  color: #ffffff;
}

.logo {
  font-size: 20px;
  margin: 10px;
  font-family: 'Brush Script MT', cursive;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
}
.navbar-links ul {
  margin: 0px 10px;
  padding: 0px;
  display: flex;
}
.navbar-links ul li {
  list-style: none;
}
.navbar-links ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  display: block;
}
.navbar-links ul li a:hover {
  background: #ffffff;
  color: #000000;
}
.togglebtn {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.line {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
}

@media only screen and (max-width: 850px) {
  .togglebtn {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 16px;
  }
  .navbar-links.active {
    display: flex;
  }
}

/* -------------------------------------------------------------------------NAVIGATION -------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------FOOTER------------------------------------------------------------------------- */

.footer {
  background: #FFCE32;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 31%;
}

.footer .footer-center i {
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 25px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  font-family: 'Brush Script MT', cursive;

}

.footer h2 span {
  color: #0099ff;
  font-family: 'Brush Script MT', cursive;

}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

/* -------------------------------------------------------------------------FOOTER------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------HOME CSS------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


.container {
  width: 100%;
  height: 500px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide img {
  width: 100%;
  height: 500px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next  {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.column1 {
  float: left;
  width: 100%;
  margin-top: -4px;
}

.column2 {
  float: left;
  width: 50%;
  margin-top: -4px;
  margin-bottom: -4px;
}

.column3 {
  float: left;
  width: 100%;
  margin-top: -4px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.overlay1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.overlay2 {
  position: absolute;
  top: 127%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.overlay3 {
  position: absolute;
  top: 127%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.link1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  background-color: orange;
  padding: 20px 25px;
  border-radius: 15px;
}

.link2 {
  position: absolute;
  top: 135%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  background-color: orange;
  padding: 20px 25px;
  border-radius: 15px;
}

.link3 {
  position: absolute;
  top: 135%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  background-color: orange;
  padding: 20px 25px;
  border-radius: 15px;
}

.link1:hover, .link2:hover, .link3:hover {
  background-color: white;
  color: orange;
}

/* -------------------------------------------------------------------------HOME CSS------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------OUR STORY------------------------------------------------------------------------- */

.main {
  color: #000000;
  flex: 1 0 auto;
  font-family: 'Inconsolata', monospace;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
}


@media only screen and (max-width: 767px) {
  .nav ul {
    height: 130px;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #product {
    flex-direction: column;
    text-align: center;
  }
}

/* -------------------------------------------------------------------------OUR STORY------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------PRODUCT CSS------------------------------------------------------------------------- */

.title-product {
  text-align: center;
}

.fruitshake {
  padding: 20px 40px 20px 40px;
  background-color: orange;
  position: absolute;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 10px;
  font-weight: bold;
}

.burger {
  padding: 20px 55px 20px 55px;
  background-color: orange;
  position: absolute;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 200px;
  margin-left: 10px;
  font-weight: bold;
}

.sandwich {
  padding: 20px 19px 20px 19px;
  background-color: orange;
  position: absolute;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 300px;
  margin-left: 10px;
}

.others {
  padding: 20px 60px 20px 60px;
  background-color: orange;
  position: absolute;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 400px;
  margin-left: 10px;
}

/* -------------------------------------------------------------------------PRODUCT CSS------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------LOCATION CSS------------------------------------------------------------------------- */

.location-section {
  text-align: center;
}

.location-details {
  display: inline-block;
  text-align: left;
  margin: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.text {
  display: inline-block;
  vertical-align: middle;
}

.detail {
  margin: 0;
}

.main {
color: #000000;
flex: 1 0 auto;
font-family: 'Inconsolata', monospace;
width: 75%;
margin-left: auto;
margin-right: auto;
padding-top: 5%;
padding-bottom: 5%;
line-height: 1.6;
font-size: 18px;
font-weight: 400;
}


@media only screen and (max-width: 767px) {
.nav ul {
  height: 130px;
  flex-direction: column;
  text-align: center;
}
}

@media only screen and (max-width: 767px) {
#product {
  flex-direction: column;
  text-align: center;
}
}

/* -------------------------------------------------------------------------LOCATION CSS------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------CONTACT CSS------------------------------------------------------------------------- */

label{
  font-weight: bold;
}

.contact-head {
  text-align: center;
}

.contact-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
  margin-top: 50px;
}

.contact-container h1{
  text-align: center;
}

.left{
  background-color: #5358B3;
  border-radius: 20px;
  padding: 40px 40px 100px 40px;
  color: #fff;
}

.right{
  padding: 40px 40px 100px 40px;
}

.fill {
  width: 200%;
}

.fillup form input[type=text], input,
.fillup form input[type=text], select{
  width:100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  border:none;
  background-color: #6a6fc9;
  display: block;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #7a7fe2;
  border-radius: 20px;
  color: #fff;
}

form#subject input[type=text], select{
  color: #fff;
}

.submit{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #49D8B9;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 500000s;
  -webkit-text-fill-color: #fff !important;
}

.indicator{
  margin-bottom: -5px;
}

.fa.fa-envelope-o{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.right a{
  text-decoration: none;
  font-style: italic;
}

/* -------------------------------------------------------------------------CONTACT CSS------------------------------------------------------------------------- */